<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<p style="margin-right: 20px "><a style="float: right" th:href="@{/test/}" target="_blank"><b>Test</b></a></p><br/>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <p th:text="${nullId}" th:if="${nullId}"></p>
                <div class="col-sm-8"><h2><b>User Details</b></h2></div>
                <div class="col-sm-4">
                    <a class="btn btn-info add-new" title="Add new User" th:href="@{/addUser}"><i class="fa fa-plus"
                                                                                                  aria-hidden="true"></i>Add
                        New
                        User</a>
                </div>
            </div>
        </div>

        <table class="table table-bordered" th:if="${#lists.isEmpty(userList)}">
            <div class="alert alert-warning">
                <strong>There are no users to show the view !!!</strong>
            </div>

        </table>

        <table class="table table-bordered" th:if="${not #lists.isEmpty(userList)}">
            <thead>
            <tr style="text-align: center">
                <th scope="col" width="50px">#</th>
                <th> Name User</th>
                <th> Age User</th>
                <th width="100px"> Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user, i : ${userList}">
                <td style="text-align: center">
                    <span th:text="${i.index + 1}"></span>
                </td>

                <td>
                    <span th:text="${user.name}"></span>
                </td>

                <td style="text-align: center">
                    <span th:text="${user.age}"></span>
                </td>

                <td>
                    <a th:href="@{/editUser/{id}(id=${user.id})}" class="edit" title="Edit"
                       data-toggle="tooltip"><i
                            class="material-icons">&#xE254;</i></a>
                    <a class="delete" title="Delete" data-toggle="modal"
                       data-target="#myConfirm"><i class="material-icons">&#xE872;</i></a>
                </td>

                <!-- The Modal -->
                <div class="modal" id="myConfirm">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Delete User</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Do you want to delete the user from the list?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <a th:href="@{/delete/{id}(id=${user.id})}" type="button" class="btn btn-danger">Yes</a>
                                <a type="button" class="btn btn-danger" data-dismiss="modal">No</a>
                            </div>

                        </div>
                    </div>
                </div>

            </tr>

            </tbody>
        </table>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script th:src="@{/code.js}"></script>

</body>
</html>